/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 13, 2020, 12:01:15 PM
    Author     : hp
*/
*{
    -fx-font-family: Cambria; 
    -fx-fill : #8B4C39;
    -fx-font-size : 16;
    -fx-font-weight : bold;
}
#background{
    -fx-background-color: #F5DEB3;
}
Button:hover{
    -fx-background-color : #8B7B8B;
}
Button{
    -fx-background-color : white;
}
#logo{
    -fx-font-family : Forte;
    -fx-fill : #8B4726;
    -fx-font-size : 38;
    -fx-text-align: center;
}