/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 13, 2020, 12:00:15 PM
    Author     : hp
*/
#background{
    -fx-background-color: #F5DEB3;
}
*{
    -fx-font-family: Cambria; 
    -fx-fill : #8B4C39;
    -fx-font-size : 16;
    -fx-font-weight : bold;
}
#logo{
    -fx-font-family : Forte;
    -fx-font-size : 38;
}
Button:hover{
    -fx-background-color : #6E8B3D;
}
Button,TextField,ComboBox,DatePicker{
    -fx-background-color : white;
}
Pane{
    -fx-background-color : white;
}